@model LMS.Web.BAL.ViewModels.AdminDealerViewModel

@{
    ViewBag.Title = "CreateDealer";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card card-blue mt-3">
        <div class="card-header">
            <h3 class="card-title">Create Dealer</h3>
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name)
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control col-10" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DealerCode)
                            @Html.EditorFor(model => model.DealerCode, new { htmlAttributes = new { @class = "form-control col-10" } })
                            @Html.ValidationMessageFor(model => model.DealerCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <!-- text input -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.State)
                            @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control col-10" } })
                            @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.City)
                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control col-10" } })
                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <!-- text input -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.Pincode)
                            @Html.EditorFor(model => model.Pincode, new { htmlAttributes = new { @class = "form-control col-10" } })
                            @Html.ValidationMessageFor(model => model.Pincode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <!-- text input -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.SalesEmail)
                            @Html.EditorFor(model => model.SalesEmail, new { htmlAttributes = new { @class = "form-control col-10" } })
                            @Html.ValidationMessageFor(model => model.SalesEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.AfterSalesEmail)
                            @Html.EditorFor(model => model.AfterSalesEmail, new { htmlAttributes = new { @class = "form-control col-10" } })
                            @Html.ValidationMessageFor(model => model.AfterSalesEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <!-- text input -->
                        <div class="form-group">
                            @Html.Label("Brands (For multiple select use : Ctrl + click)")
                            @Html.ListBox("Brands", (List<SelectListItem>)ViewBag.BrandId, new { @class = "form-control col-10" })
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsActive)
                            <div class="checkbox">
                                @Html.EditorFor(model => model.IsActive)
                                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <div>
                        <input type="submit" value="Save" class="btn btn-outline-success " />&nbsp;&nbsp;&nbsp;
                        <a href="/Admin/ListDealer" class="btn btn-outline-dark btn-sx float-right" role="button" aria-pressed="true">Back To List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $('.select2').select2();
        });
    </script>
}
