@model LMS.Web.BAL.ViewModels.AdminModelViewModel

@{
    ViewBag.Title = "EditModel";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card card-blue mt-3">
        <div class="card-header">
            <h3 class="card-title">Edit Brand</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name)
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control col-10" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.BrandId)

                            @Html.DropDownList("BrandId", null, htmlAttributes: new { @class = "form-control col-10" })
                            @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.InteriorColor)

                            @Html.EditorFor(model => model.InteriorColor, new { htmlAttributes = new { @class = "form-control col-10" } })
                            @Html.ValidationMessageFor(model => model.InteriorColor, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.FuelType)

                            @Html.DropDownList("FuelType", new List<SelectListItem>
                            {
                                new SelectListItem {Text = "Petrol", Value = "Petrol"},
                                new SelectListItem {Text = "Diesel", Value = "Diesel"},
                            }, new
                            {
                                @class = "form-control col-10"

                            })
                            @Html.ValidationMessageFor(model => model.FuelType, "", new { @class = "text-danger" })
                        </div>
                    </div>
                   

                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.ExteriorColor)

                            @Html.EditorFor(model => model.ExteriorColor, new { htmlAttributes = new { @class = "form-control col-10" } })
                            @Html.ValidationMessageFor(model => model.ExteriorColor, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TransmissionType)

                            @Html.DropDownList("TransmissionType", new List<SelectListItem>
                            {
                                new SelectListItem {Text = "Manual", Value = "Manual"},
                                new SelectListItem {Text = "Auto", Value = "Auto"},
                            }, new
                            {
                                @class = "form-control col-10"

                            })
                            @Html.ValidationMessageFor(model => model.TransmissionType, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            @Html.LabelFor(model => model.ModelCode)

                            @Html.EditorFor(model => model.ModelCode, new { htmlAttributes = new { @class = "form-control col-10" } })
                            @Html.ValidationMessageFor(model => model.ModelCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsActive)

                            <div class="checkbox">
                                @Html.EditorFor(model => model.IsActive)
                                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="">
                        <input type="submit" value="Save" class="btn btn-outline-success " />
                        <a href="/Admin/ListModel" class="btn btn-outline-danger " role="button" aria-pressed="true">Cancel</a>
                    </div>
                </div>

            </form>
        </div>
        <!-- /.card-body -->
    </div>
}