@model IEnumerable<LMS.Web.BAL.ViewModels.AdminDealerViewModel>

@{
    ViewBag.Title = "ListDealer";
}

<div class="row pt-3">
    <div class="col-12">
        <div class="card card-outline card-primary">
            <div class="card-header">
                <h3>Dealer List</h3>
            </div>

            <!-- /.card-header -->
            <div class="card-body">
                <a href="/Admin/CreateDealer" class="btn btn-outline-success">Create Dealer</a>
                <div class="table-responsive pt-2">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <table id="example1" class="table table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.State)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.City)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Pincode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.DealerCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdatedDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreatedBy)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdatedBy)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsActive)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.State)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.City)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Pincode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DealerCode)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdatedDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdatedBy)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.IsActive)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "EditDealer", new { id = item.Id }, new { @class = "btn btn-outline-info"})
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>
