@model LMS.Web.BAL.ViewModels.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="pt-3">
        <div class="card">
            <div class="card-header">
                Change Password
            </div>
            <div class="card-body">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group justify-content-around">
                    @Html.LabelFor(model => model.CurrentPassword, "Current Password", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-11">
                                @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { @class = "form-control", @type = "Password" } })
                            </div>
                            <div class="col-1">
                                <a onclick="change(1)"><i class="fa fa-eye-slash" id="1" aria-hidden="true"></i></a>
                            </div>

                        </div>
                        @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group justify-content-around">
                    @Html.LabelFor(model => model.NewPassword, "New Password", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-11">
                                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @type = "Password" } })
                            </div>
                            <div class="col-1">
                                <a onclick="change(2)"><i class="fa fa-eye-slash" id="2" aria-hidden="true"></i></a>
                            </div>

                        </div>
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group justify-content-around">
                    @Html.LabelFor(model => model.ConfirmNewPassword, "Confirm New Password", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-11">
                                @Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control", @type = "Password" } })
                            </div>
                            <div class="col-1">
                                <a onclick="change(3)"><i class="fa fa-eye-slash" id="3" aria-hidden="true"></i></a>
                            </div>

                        </div>
                        @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="d-flex justify-content-around">
                        <input type="submit" value="Change Password" class="btn btn-outline-dark" />
                    </div>
                </div>
            </div>
        </div>
    </div>

}
@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function () {
        if ('@TempData["NotificationSuccess"]' != '') {
            toastr.success('@TempData["NotificationSuccess"]');
        }
        if ('@TempData["NotificationInfo"]' != '') {
            toastr.error('@TempData["NotificationInfo"]');
        }
    });
</script>
<script>
    function change(i) {

        switch (i) {
            case 1:
                if ($('#CurrentPassword').attr("type") == "text") {
                    $('#CurrentPassword').attr('type', 'Password');
                    $('#1').addClass("fa-eye-slash");
                    $('#1').removeClass("fa-eye");
                } else if ($('#CurrentPassword').attr("type") == "Password") {
                    $('#CurrentPassword').attr('type', 'text');
                    $('#1').removeClass("fa-eye-slash");
                    $('#1').addClass("fa-eye");
                }
                break;
            case 2:

                if ($('#NewPassword').attr("type") == "text") {

                    $('#NewPassword').attr('type', 'Password');
                    $('#2').addClass("fa-eye-slash");
                    $('#2').removeClass("fa-eye");
                } else if ($('#NewPassword').attr("type") == "Password") {

                    $('#NewPassword').attr('type', 'text');
                    $('#2').removeClass("fa-eye-slash");
                    $('#2').addClass("fa-eye");
                }
                break;
            case 3:
                if ($('#ConfirmNewPassword').attr("type") == "text") {
                    $('#ConfirmNewPassword').attr('type', 'Password');
                    $('#3').addClass("fa-eye-slash");
                    $('#3').removeClass("fa-eye");
                } else if ($('#ConfirmNewPassword').attr("type") == "Password") {
                    $('#ConfirmNewPassword').attr('type', 'text');
                    $('#3').removeClass("fa-eye-slash");
                    $('#3').addClass("fa-eye");
                }
                break;
        }
    }
</script>