@model LMS.Web.BAL.ViewModels.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    @if (Convert.ToBoolean(Session["IsEmailSent"]))
    {
        <div class="col-xl-12 col-md-10 col-sm-3">
            <div class="container-fluid">
                <div class="card bg-info text-white">
                    <div class="card-body text-center">Your Password reset link is sent on your Email-id. Please check your inbox.</div>
                </div>
            </div>
        </div>
    }

    @using (Html.BeginForm("Login", "Authentication", FormMethod.Post))
    {

        <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
            <div class="card card0 border-0">
                <div class="row d-flex">
                    <div class="col-lg-6">
                        <div class="card1 pb-5">
                            <div class="row"> <img src="https://i.imgur.com/CXQmsmF.png" class="logo"> </div>
                            <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="https://i.imgur.com/uNGdWHi.png" class="image"> </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card2 card border-0 px-4 py-5">
                            <div class="row mb-4 px-3 justify-content-center">
                                <h4 class="text-center">Login</h4>
                            </div>

                            <div class="row px-3">
                                @Html.LabelFor(m => m.Email, new { @class = "mb-0" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "mb-4", @placeholder = "Email" })
                            </div>

                            <div class="validation text-center">
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="row px-3">
                                @Html.LabelFor(m => m.Password, new { @class = "mb-0" })
                                @Html.PasswordFor(m => m.Password, new { @class = "mb-4", @placeholder = "Password" })
                            </div>

                            <div class="validation text-center">
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>

                            <div class="row px-3 mb-4">
                                <div class="custom-control custom-checkbox custom-control-inline">  </div>
                                @Html.ActionLink("Forgot Password?", "ForgotPassword", null, new { @class = "ml-auto mb-0 text-sm" })
                            </div>

                            <div class="row mb-3 px-3">
                                <button type="submit" class="btn btn-blue text-center">Login</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>