@model LMS.Web.BAL.ViewModels.AssignLeadViewModel



<div class="pt-3">
    <div class="card border-dark" >
        <div class="card-header">Customer Name: @Html.DisplayFor(model => model.selectedLead.CustomerName)</div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <p class="card-text">Model Name: @Html.DisplayFor(model => model.selectedLead.ModelName) </p>
                </div>
                <div class="col-4">
                    <p class="card-text">AssignedUser Name: @Html.DisplayFor(model => model.selectedLead.AssignedUserName)</p>
                </div>
                <div class="col-4">
                    <p class="card-text">Lead Status: @Html.DisplayFor(model => model.selectedLead.LeadStatus)</p>
                </div>

            </div>
            <div class="row">
                <div class="col-4">
                    <p class="card-text">Lead Type: @Html.DisplayFor(model => model.selectedLead.LeadType)</p>

                </div>
                <div class="col-4">
                    <p class="card-text">
                        Service Type: @Html.DisplayFor(model => model.selectedLead.ServiceType)
                    </p>
                </div>
                <div class="col-4">
                    <p class="card-text">
                        Customer Email:   @Html.DisplayFor(model => model.selectedLead.CustomerEmail)
                    </p>
                </div>

            </div>

         
           

            <p class="card-text">Customer Number:  @Html.DisplayFor(model => model.selectedLead.CustomerContactNumber)</p>

        </div>
        <div class="card-footer">
            Comments: @Html.DisplayFor(model => model.selectedLead.Comments)
        </div>
    </div>
 
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                MobileNumber
            </th>
            <th>
                RoleId
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MobileNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleId)
                </td>
                @Html.Hidden("selectedUserId", item.Id)
                <td>
                    @Html.ActionLink("Assign", "AssignLeadConfirm", new { selectedUserId = item.Id, leadId = Model.selectedLead.Id }, new { @class = "btn btn-outline-success" })
                </td>
            </tr>
        }
    </table>
</div>
