@model LMS.Web.BAL.ViewModels.LeadViewModel
<div class="row pt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Lead List</h3>
            </div>

            <!-- /.card-header -->
            <div class="card-body">
                @if (Session["dealerId"] != null)
                {
                    using (Html.BeginForm("LeadList", "DealerManager", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-3" id="leadtypefilter">
                                <div class="row">
                                    <div class="col-3 col-form-label">
                                        @Html.Label("LeadType")
                                    </div>
                                    <div class="col-9">
                                        @Html.DropDownListFor(m => m.Filters.leadTypeId, (IEnumerable<SelectListItem>)ViewBag.LeadTypeId, "Select", new { @class = "form-control", @id = "lead_type_id" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-3" id="lead_status" style="display:none">
                                <div class="row">
                                    <div class="col-4 col-form-label">
                                        @Html.Label("LeadStatus")
                                    </div>
                                    <div class="col-8">
                                        @if (Model.Filters.flag)
                                        {
                                            @Html.HiddenFor(m => m.Filters.leadStatusId, new { @id = "leadstatusid" })
                                            <select class="form-control" id="Filters_leadStatusId" name="Filters.leadStatusId"></select>
                                        }
                                        else
                                        {
                                            <select class="form-control" id="Filters_leadStatusId" name="Filters.leadStatusId"></select>
                                        }

                                    </div>
                                </div>
                            </div>

                            <div class="input-group pt-2" id="datefilter">
                                <div class="col-sm-2 col-form-label">
                                    <label> Select Start And End Date:</label>
                                </div>
                                @Html.HiddenFor(m => m.Filters.startDate, new { @class = "form-control", @id = "startDate" })
                                @Html.HiddenFor(m => m.Filters.endDate, new { @class = "form-control", @id = "endDate" })
                                <input id="date_range" class="form-control col-sm-2" placeholder="Select Dates" type="text" autocomplete="off">
                            </div>
                            <div class="col-1">
                                <input type="submit" value="Filter" class="btn btn-outline-success" />
                            </div>
                        </div>
                    }
                }
                else
                {
                    using (Html.BeginForm("LeadList", "User", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-3" id="lead_status">
                                <div class="row">
                                    <div class="col-4 col-form-label">
                                        @Html.Label("LeadStatus")
                                    </div>
                                    <div class="col-8">
                                        @if (Model.Filters.flag)
                                        {
                                            @Html.HiddenFor(m => m.Filters.leadStatusId, new { @id = "userleadstatusid" })
                                            <select class="form-control" id="User_leadStatusId" name="Filters.leadStatusId"></select>
                                        }
                                        else
                                        {
                                            <select class="form-control" id="User_leadStatusId" name="Filters.leadStatusId"></select>
                                        }

                                    </div>
                                </div>
                            </div>

                            <div class="input-group pt-2" id="datefilter">
                                <div class="col-sm-2 col-form-label">
                                    <label> Select Start And End Date:</label>
                                </div>
                                @Html.HiddenFor(m => m.Filters.startDate, new { @class = "form-control", @id = "startDate" })
                                @Html.HiddenFor(m => m.Filters.endDate, new { @class = "form-control", @id = "endDate" })
                                <input id="date_range" class="form-control col-sm-2" placeholder="Select Dates" type="text" autocomplete="off">
                            </div>

                            <div class="col-1">
                                <input type="submit" value="Filter" class="btn btn-outline-success" />
                            </div>
                        </div>
                    }
                }


                <div class="table-responsive pt-2">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        @if (Session["dealerId"] != null)
                        {
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Customer Name
                                        </th>
                                        <th>
                                            Model
                                        </th>
                                        <th>
                                            AssignedTo
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Type
                                        </th>
                                        <th>
                                            ServiceType
                                        </th>
                                        <th>
                                            Date
                                        </th>

                                        <th></th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Leads)
                                    {

                                        <tr onclick="return window.location.href = '/DealerManager/LeadDetail/@item.Id'" ) style="cursor:pointer;">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ModelName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AssignedUserName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LeadStatus)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LeadType)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ServiceType)
                                            </td>
                                            <td>@item.CreatedDate.ToString("dd/MM/yyyy").Replace('-', '/')</td>

                                            <td>
                                                @if (item.AssignedUserName != null)
                                                {
                                                    @Html.ActionLink("De-Assign", "Modify", "DealerManager", new { operation = "DeAssign", leadId = item.Id }, new { @class = "btn btn-outline-danger" })

                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Assign", "Modify", "DealerManager", new { operation = "Assign", leadId = item.Id }, new { @class = "btn btn-outline-success" })
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Customer Name")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Model")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Assigned To")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Email")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Contact Number")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Status")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Comments")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Action")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Leads)
                                    {
                                        <tr onclick="return window.location.href = '/User/LeadDetails/@item.Id'" ) style="cursor:pointer;">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ModelName)
                                            </td>
                                            <td>
                                                @if (item.AssignedUserName != null)
                                                {
                                                    @Html.DisplayName("Self")
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(modelItem => item.AssignedUserName)
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerEmail)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerContactNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LeadStatus)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Comments)
                                            </td>
                                            <td>
                                                @if (item.AssignedUserName != null)
                                                {
                                                    @Html.ActionLink("De-Assign", "DeAssignLead", "User", new { leadId = item.Id }, new { @class = "btn btn-outline-danger" })
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Assign", "AssignLead", "User", new { leadId = item.Id }, new { @class = "btn btn-outline-success" })
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>

            </div>

        </div>
        <!-- /.card -->
    </div>
</div>

@Scripts.Render("~/bundles/jquery")

<script>
    $(document).ready(function () {
        if ('@TempData["NotificationSuccess"]' != '') {
            toastr.success('@TempData["NotificationSuccess"]');
        }
        if ('@TempData["NotificationInfo"]' != '') {
            toastr.error('@TempData["NotificationInfo"]');
        }
        $("#date_range").daterangepicker({
            autoUpdateInput: false,
            changeMonth: true,
            changeYear: true,
            dateonly: true,
            locale: {
                "cancelLabel": "Clear",
            },
            startDate: setStartDate(),
            endDate: setEndDate(),
        });
        function setStartDate() {

            if ($("#startDate").val() !== "") {
                var userDate = $("#startDate").val();
                return userDate;
            }
            return new Date();
        }
        function setEndDate() {

            if ($("#endDate").val() !== "") {
                var userDate = $("#endDate").val();
                var startDatefor = $("#startDate").val().split(" ");
                var endDatefor = $("#endDate").val().split(" ");
                $("#date_range").val(startDatefor[0] + " to " + endDatefor[0]);
                return userDate;
            }
            return new Date();
        }

        $("#date_range").on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' to ' + picker.endDate.format('MM/DD/YYYY'));
            var value = $(this).val().split(" to ");
            $("#startDate").val(value[0]);
            $("#endDate").val(value[1]);
        });

        $("#date_range").on('cancel.daterangepicker', function (ev, picker) {
            $(this).val("");
            $("#startDate").val("");
            $("#endDate").val("");
        });

        if ($("#lead_type_id").length >0) {
            var selectedText = $("#lead_type_id").find(':selected').val();
            if (selectedText === "") {
                $('#lead_status').css("display", "none");
                $("#leadStatusId").html("");
                if ($("#leadstatusid").val() !== undefined) {
                    $("#leadstatusid").val("");
                }
            }
            else {
                var datastring = "leadtypeId=" + selectedText.toString();
                $.ajax({
                    type: "GET",
                    url: "/DealerManager/GetLeadStatusDropDown",
                    data: datastring,
                    success: function (data) {
                        var s = '<option value="">Select</option>';
                        for (var i = 0; i < data.length; i++) {
                            if ($("#leadstatusid").val() !== undefined) {
                                if (data[i].Id.toString() === $("#leadstatusid").val().toString()) {
                                    s += '<option selected="selected" value="' + data[i].Id + '">' + data[i].DisplayName + '</option>';
                                }
                                else {
                                    s += '<option value="' + data[i].Id + '">' + data[i].DisplayName + '</option>';
                                }
                            }
                            else {
                                s += '<option value="' + data[i].Id + '">' + data[i].DisplayName + '</option>';
                            }

                        }
                        $("#Filters_leadStatusId").html(s);
                    }
                });
                $('#lead_status').css("display", "block");
            }
        }

        $("#Filters_leadStatusId").on("change", function () {
            var id = $("#Filters_leadStatusId").find(":selected").val();
            $("#leadstatusid").val(id);
        });
        $("#lead_type_id").on("change", function () {

            var selectedText = $(this).find(':selected').val();
            if (selectedText === "") {
                $('#lead_status').css("display", "none");
                $("#leadStatusId").html("");
                if ($("#leadstatusid").val() !== undefined) {
                    $("#leadstatusid").val("");
                }
            }
            else {
                var datastring = "leadtypeId=" + selectedText.toString();
                $.ajax({
                    type: "GET",
                    url: "/DealerManager/GetLeadStatusDropDown",
                    data: datastring,
                    success: function (data) {
                        var s = '<option value="">Select</option>';
                        for (var i = 0; i < data.length; i++) {
                            if ($("#leadstatusid").val() !== undefined) {
                                if (data[i].Id.toString() === $("#leadstatusid").val().toString()) {
                                    s += '<option selected="selected" value="' + data[i].Id + '">' + data[i].DisplayName + '</option>';
                                }
                                else {
                                    s += '<option value="' + data[i].Id + '">' + data[i].DisplayName + '</option>';
                                }
                            }
                            else {
                                s += '<option value="' + data[i].Id + '">' + data[i].DisplayName + '</option>';
                            }

                        }
                        $("#Filters_leadStatusId").html(s);
                    }
                });
                $('#lead_status').css("display", "block");
            }
        });
        if ($("#User_leadStatusId").length > 0) {
            $.ajax({
                    type: "GET",
                    url: "/User/GetLeadStatusDropDown",
                    data: "",
                    success: function (data) {
                        var s = '<option value="">Select</option>';
                        for (var i = 0; i < data.length; i++) {
                            if ($("#userleadstatusid").val() !== undefined) {
                                if (data[i].Id.toString() === $("#userleadstatusid").val().toString()) {
                                    s += '<option selected="selected" value="' + data[i].Id + '">' + data[i].DisplayName + '</option>';
                                }
                                else {
                                    s += '<option value="' + data[i].Id + '">' + data[i].DisplayName + '</option>';
                                }
                            }
                            else {
                                s += '<option value="' + data[i].Id + '">' + data[i].DisplayName + '</option>';
                            }

                        }
                        $("#User_leadStatusId").html(s);
                    }
                });
        }
        $("#User_leadStatusId").on("change", function () {

            var selectedText = $(this).find(':selected').val();
            $("#userleadstatusid").val(selectedText);
        });

    });
</script>
