@model LMS.Web.BAL.ViewModels.LeadViewModel
<div class="row pt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Lead List</h3>
            </div>

            <!-- /.card-header -->
            <div class="card-body">
                @if (Session["dealerId"] != null)
                {
                    using (Html.BeginForm("LeadList", "DealerManager", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-3" id="leadtypefilter">
                                <div class="row">
                                    <div class="col-3 col-form-label">
                                        @Html.Label("LeadType")
                                    </div>
                                    <div class="col-9">
                                        @Html.DropDownListFor(m => m.Filters.leadTypeId, (IEnumerable<SelectListItem>)ViewBag.LeadTypeId, "Select", new { @class = "form-control", @id = "lead_type_id" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-3" id="lead_status_sales" style="display:none">
                                <div class="row">
                                    <div class="col-4 col-form-label">
                                        @Html.Label("LeadStatus")
                                    </div>
                                    <div class="col-8">
                                        @Html.DropDownListFor(m => m.Filters.leadStatusId, (IEnumerable<SelectListItem>)ViewBag.LeadStatusSales, "Select", new { @class = "form-control", @id = "sales_status_dropdown" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-3" id="lead_status_aftersales" style="display:none">
                                <div class="row">
                                    <div class="col-4 col-form-label">
                                        @Html.Label("LeadStatus")
                                    </div>
                                    <div class="col-8">
                                        @Html.DropDownListFor(m => m.Filters.leadStatusId, (IEnumerable<SelectListItem>)ViewBag.LeadStatusAfterSales, "Select", new { @class = "form-control", @id = "aftersales_status_dropdown" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-5">


                                <div class="row">
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-3 col-form-label">
                                                @Html.Label("From:")
                                            </div>
                                            <div class="col-9">
                                                @Html.TextBoxFor(m => m.Filters.startDate, new { @class = "form-control", @type = "date" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-2 col-form-label">
                                                @Html.Label("To:")
                                            </div>
                                            <div class="col-10">
                                                @Html.TextBoxFor(m => m.Filters.endDate, new { @class = "form-control", @type = "date" })
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-1">
                                <input type="submit" value="Filter" class="btn btn-outline-success" />
                            </div>
                        </div>
                    }
                }
                else
                {
                    using (Html.BeginForm("LeadList", "User", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-3" id="lead_status">
                                <div class="row">
                                    <div class="col-4 col-form-label">
                                        @Html.Label("LeadStatus")
                                    </div>
                                    <div class="col-8">
                                        @Html.DropDownListFor(m => m.Filters.leadStatusId, (IEnumerable<SelectListItem>)ViewBag.LeadStatus, "Select", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-5">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-3 col-form-label">
                                                @Html.Label("From:")
                                            </div>
                                            <div class="col-9">
                                                @Html.TextBoxFor(m => m.Filters.startDate, new { @class = "form-control", @type = "date" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-2 col-form-label">
                                                @Html.Label("To:")
                                            </div>
                                            <div class="col-10">
                                                @Html.TextBoxFor(m => m.Filters.endDate, new { @class = "form-control", @type = "date" })
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-1">
                                <input type="submit" value="Filter" class="btn btn-outline-success" />
                            </div>
                        </div>
                    }
                }

                <p>Showing Leads from @Html.DisplayTextFor(model => model.Filters.startDate) to @Html.DisplayTextFor(model => model.Filters.endDate)</p>
                <div class="table-responsive pt-2">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        @if (Session["dealerId"] != null)
                        {
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Customer Name
                                        </th>
                                        <th>
                                            Model
                                        </th>
                                        <th>
                                            AssignedTo
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Type
                                        </th>
                                        <th>
                                            ServiceType
                                        </th>
                                        <th>
                                            Date
                                        </th>

                                        <th></th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Leads)
                                    {

                                        <tr onclick="return window.location.href = '/DealerManager/LeadDetail/@item.Id'" ) style="cursor:pointer;">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ModelName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AssignedUserName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LeadStatus)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LeadType)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ServiceType)
                                            </td>
                                            <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>

                                            <td>
                                                @if (item.AssignedUserName != null)
                                                {
                                                    @Html.ActionLink("De-Assign", "Modify", "Dealer", new { operation = "DeAssign", leadId = item.Id }, new { @class = "btn btn-outline-danger" })

                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Assign", "Modify", "Dealer", new { operation = "Assign", leadId = item.Id }, new { @class = "btn btn-outline-success" })
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Customer Name")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Model")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Assigned To")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Email")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Contact Number")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Status")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Comments")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Action")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Leads)
                                    {
                                        <tr onclick="return window.location.href = '/User/LeadDetails/@item.Id'" ) style="cursor:pointer;">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ModelName)
                                            </td>
                                            <td>
                                                @if (item.AssignedUserName != null)
                                                {
                                                    @Html.DisplayName("Self")
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(modelItem => item.AssignedUserName)
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerEmail)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerContactNumber)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LeadStatus)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Comments)
                                            </td>
                                            <td>
                                                @if (item.AssignedUserName != null)
                                                {
                                                    @Html.ActionLink("De-Assign", "DeAssignLead", "User", new { leadId = item.Id }, new { @class = "btn btn-outline-danger" })
                                                }
                                                else
                                                {
                                                    @Html.ActionLink("Assign", "AssignLead", "User", new { leadId = item.Id }, new { @class = "btn btn-outline-success" })
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>

            </div>

        </div>
        <!-- /.card -->
    </div>
</div>

@Scripts.Render("~/bundles/jquery")

<script>
    $(document).ready(function () {
        if ('@TempData["NotificationSuccess"]' != '') {
            toastr.success('@TempData["NotificationSuccess"]');
        }
        if ('@TempData["NotificationInfo"]' != '') {
            toastr.error('@TempData["NotificationInfo"]');
        }

        var selectedText = $('#lead_type_id').find(':selected').text();
        if (selectedText === "SalesLead") {
            $('#lead_status_sales').css("display", "block");
            $('#lead_status_aftersales').css("display", "none");
        }
        if (selectedText === "AfterSalesLead") {
            $('#lead_status_aftersales').css("display", "block");
            $('#lead_status_aftersales').val();
            $('#lead_status_sales').css("display", "none");
        }

        if (selectedText === "Select") {
            $('#lead_status_aftersales').css("display", "none");
            $('#lead_status_sales').css("display", "none");
            $('#sales_status_dropdown').val("");
            $('#aftersales_status_dropdown').val("");
        }

        $("#lead_type_id").on("change", function () {

            var selectedText = $(this).find(':selected').text();
            if (selectedText === "SalesLead") {
                $('#lead_status_sales').css("display","block");
                $('#lead_status_aftersales').css("display", "none");
            }
            if (selectedText === "AfterSalesLead") {
                $('#lead_status_aftersales').css("display", "block");
                $('#lead_status_sales').css("display", "none");
            }

            if (selectedText === "Select") {
                $('#lead_status_aftersales').css("display", "none");
                $('#lead_status_sales').css("display", "none");
                $('#sales_status_dropdown').val("");
                $('#aftersales_status_dropdown').val("");
            }
        });

    });
</script>
