@model LMS.Web.BAL.ViewModels.DealerDashboardViewModel

<div class="pt-3">
    <div class="card">
        <div class="card-header">
            User Lead Count
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th scope="col">
                        Name
                    </th>
                    <th scope="col">
                       Active Count
                    </th>
                    <th scope="col">
                       In-Active Count
                    </th>

                </tr>

                @foreach (var item in Model.userLeadCounts)
                {
                    <tr onclick="return window.location.href = '/DealerManager/UserDetail/@item.Id'" style="cursor:pointer;">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AciveCounts)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClosedCounts)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Latest Leads
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th scope="col">
                        Customer Name
                    </th>
                    <th scope="col">
                        Model Name
                    </th>
                    <th scope="col">
                        Customer Email
                    </th>
                    <th scope="col">
                        Customer Contact Number
                    </th>
                    <th scope="col">
                        Assign To
                    </th>
                    <th scope="col">
                        Lead Status
                    </th>
                    <th scope="col">
                        Lead Type
                    </th>
                    <th scope="col">
                        Service Type
                    </th>
                    <th scope="col">
                        Date
                    </th>
                    <th scope="col">#</th>

                </tr>

                @foreach (var item in Model.LatestLeads)
                {
            <tr onclick="return window.location.href = '/DealerManager/LeadDetail/@item.Id'" style="cursor:pointer;">
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssignedUserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeadStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeadType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceType)
                </td>
                <td>
                    @item.CreatedDate.ToString("MM/dd/yyyy").Replace("-", "/")
                </td>
                <td>
                    @if (item.AssignedUserName != null)
                    {
                        @Html.ActionLink("De-Assign", "Modify", "DealerManager", new { operation = "DeAssign", leadId = item.Id }, new { @class = "btn btn-outline-danger" })

                    }
                    else
                    {
                        @Html.ActionLink("Assign", "Modify", "DealerManager", new { operation = "Assign", leadId = item.Id }, new { @class = "btn btn-outline-success" })
                    }
                </td>
            </tr>
                }

            </table>
        </div>
    </div>
</div>
