@model LMS.Web.BAL.ViewModels.UserLeadViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="pt-3">
        <div class="card card-outline card-primary">
            <div class="card-header">

                <div class="float-left">
                    <b>Lead Id: </b> @Html.DisplayFor(model => model.Id)
                </div>
                <div class="float-right">
                    <b>Lead Date: </b> @Model.CreatedDate.ToString("MM/dd/yyyy").Replace("-", "/")
                </div>

            </div>


            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <p class="card-text"><b>Customer Name: </b> @Html.DisplayFor(model => model.CustomerName) </p>
                    </div>
                    <div class="col-4">
                        <p class="card-text"><b>Brand: </b> @Html.DisplayFor(model => model.BrandName)</p>
                    </div>
                    <div class="col-4">
                        <p class="card-text">
                            @if (Model.AssignedUserName != null)
                            {
                                <b>Assigned User: </b> @Html.Display("Self")
                            }
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p class="card-text">
                            <b> Customer Email:</b> @Html.DisplayFor(model => model.CustomerEmail)
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="card-text"><b>Model: </b> @Html.DisplayFor(model => model.ModelName)</p>

                    </div>
                    <div class="col-4">
                        @if (Model.AssignedUserName != null)
                            {
                            <p class="card-text">
                                <b>Lead Status: </b> @Html.DropDownList("LeadStatusId", null, htmlAttributes: new { @class = "form-control" })
                            </p>
                            }
                            else
                            {
                            <p class="card-text"><b>Lead Status: </b> @Html.DisplayFor(model => model.LeadStatus)</p>
                            }


                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p class="card-text">
                            <b>Customer Contact Number:</b>  @Html.DisplayFor(model => model.CustomerContactNumber)
                        </p>

                    </div>
                    <div class="col-4">

                        <p class="card-text">

                    </div>
                    <div class="col-4">
                        <p class="card-text">
                            @if (Model.ServiceType != null)
                            {

                                <b> Service Type:</b> @Html.DisplayFor(model => model.ServiceType)

                            }
                        </p>
                    </div>

                </div>

            </div>
            <div class="card-footer">


                <b>Comments:</b> @Html.DisplayFor(model => model.Comments)


            </div>
        </div>
        <div class="d-flex justify-content-center">
            <p>

                <a href="/DealerManager/LeadList" class="btn btn-outline-dark btn-sx" role="button" aria-pressed="true">Back To List</a>
                &nbsp;
                &nbsp;
                @if (Model.AssignedUserName == null)
                            {
                    @Html.ActionLink("Assign", "AssignLead", "User", new { leadId = Model.Id }, new { @class = "btn btn-success" })

                            }
                            else
                            {
                    @Html.ActionLink("De-Assign", "DeAssignLead", "User", new { leadId = Model.Id }, new { @class = "btn btn-danger" })
                            }
            </p>
        </div>
    </div>

}




    @section scripts {
        <script>
            $(document).ready(function () {
                $('#summernote').summernote({
                    placeholder: 'Your comment',
                    tabsize: 2,
                    height: 100
                });
            });
        </script>

        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery")

        <script>
    $(document).ready(function () {
        if ('@TempData["NotificationSuccess"]' != '') {
            toastr.success('@TempData["NotificationSuccess"]');
        }
        if ('@TempData["NotificationInfo"]' != '') {
            toastr.error('@TempData["NotificationInfo"]');
        }
    });
        </script>
    }