@model LMS.Web.BAL.ViewModels.UserDashboardViewModel

@{
    ViewBag.Title = "UserDashboard";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="row pt-3">
    <div class="col-12">
        <div class="card">
            <div class="pt-2">
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <h2> Your leads</h2>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            CustomerName
                                        </th>
                                        <th>
                                            ModelName
                                        </th>
                                        <th>
                                            LeadStatus
                                        </th>
                                        <th>
                                            CreatedDate
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.userAssignedLeadList)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ModelName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LeadStatus)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedDate)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <h2>New Leads</h2>
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            CustomerName
                                        </th>
                                        <th>
                                            ModelName
                                        </th>
                                        <th>
                                            LeadStatus
                                        </th>
                                        <th>
                                            CreatedDate
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.userNewLeadList)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ModelName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LeadStatus)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedDate)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>